@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

/* font-family: 'Alata', sans-serif; */
/* font-family: 'Josefin Sans', sans-serif; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
    font-size: 15px;
}

/* Base */

.hidden{
    display: none !important;
}

/* End Base */


/* Header */

header{
    background-image: url(/images/desktop/image-hero.jpg);
    background-size: cover;
    height: fit-content;
}

.header{
    width: 80%;
    margin: auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-items{
    display: flex;
    color: white;
}

.nav-item{
    margin: 2rem 1rem;
    padding-bottom: .5rem;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;

}

.nav-item:hover{
    border-bottom: 2px solid white;
}

.menu i {
    color: white;
    font-size: 24px;
}

.header-card{
    width: 65%;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    padding: 2rem;
    margin-bottom: 8rem;
}

.header-card h1{
    font-size: 80px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    line-height: 1;
}


/* About */

.about{
    width: 80%;
    height: 60vh;
    margin: 8rem auto;
}

.about-img{
    position: relative;
}

.about-text{
    position: absolute;
    bottom: 0;
    right:0;
    padding: 5rem 0 0 5rem;
    background-color: white;
    width: 50%;
}

.about-text h2{
    font-size: 60px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

.about-text p{
    color: hsl(0, 0%, 41%);
}


/* Creation */

.creation{
    width: 80%;
    height: 120vh;
    margin: 8rem auto;
}

.creation-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.creation-text h2{
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

.creation-text button , .mobile-button{
    padding: .5rem 4rem;
    background-color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.creation-img{
    display: flex;
    flex-wrap: wrap;
}

.creation-card-img{
    width: fit-content;
}

.hover-effect:hover{
    cursor: pointer;
}

.hover-effect:hover .creation-card-img{
    opacity: .3;
}

.hover-effect:hover .card-text h2{
    color: black;
}

.card-text{
    position:absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    width: 100%;
    padding-right: 2rem;
}

.card-text h2{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    padding: 2rem 0 1rem 2rem;
    background:linear-gradient(transparent , rgba(0, 0, 0, 0.8));
    margin-bottom: 0;
}

/* Footer */

footer{
    background: black;
    color: white;
    padding: 3rem 4rem;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-footer, .bottom-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-footer{
    margin-bottom: 2rem;
}

.social{
    display: flex;
}

.social-item{
    font-size: 30px;
    margin-right: 1.5rem;
    padding-bottom: .5rem;
}

.social-item:hover{
    cursor:pointer;
    border-bottom: 2px solid white;
    opacity: 1;
}

.footer-nav{
    display: flex;
}

.footer-nav-item{
    margin-right: 4rem;
    margin-bottom: 0;
    padding-bottom: .5rem;
}

.footer-nav-item:hover{
    cursor: pointer;
    border-bottom: 2px solid white;
}

.copy-right p{
    margin-bottom: 2rem;
    color: hsl(0, 0%, 55%);
}

@media screen and (max-width : 475px) {
    /* Header */
    .header{
        width: 100%;
        height: 100vh;
    }

    .main-nav{
        margin: 2rem 2rem 0 2rem;
    }

    .nav-items{
        padding-top: 10rem;
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: black;
        color: white;
        flex-direction: column;
    }

    .nav-item{
        margin: 2rem 4rem;
        text-transform: uppercase;
        font-size: 20px;
    }

    .logo{
        z-index: 1000;
    }

    .menu{
        z-index: 1000;
    }


    .header-card{
        width: 95%;
        margin: auto;
    }

    .header-card h1{
        font-size: 42px;
    }

    /* About */

    .about{
        width: 90%;
        height: 70vh;
    }

    .about-img img{
        width: 100%;
        margin-bottom: 2rem;
    }

    .about-text{
        position: static;
        padding: 1rem;
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .about-text h2{
        font-size: 32px;
    }

    .about-text p{
        padding: 0 1rem;
    }

    /* Creation */
    .creation{
        width: 90%;
        margin: 4rem auto;
        height: fit-content;
    }

    .mobile-button{
        margin: auto;
    }

    .creation-text{
        justify-content: center;
    }

    .creation-text h2{
        font-size: 30px;
    }

    .creation-card-img img{
        width: 100%;
    }

    .card-text{
        padding: 0;
    }

    /* Footer */
    footer{
        height: fit-content;
        padding: 3rem 2rem;
        text-align: center;
    }

    .top-footer{
        flex-direction: column;
        align-items: center;
    }

    .footer-logo img{
        width: 10rem;
        margin-bottom: 2rem;
    }

    .bottom-footer{
        flex-direction: column;
    }

    .footer-nav-item{
        margin: 0;
        margin-bottom: 1rem;
    }

    .footer-nav{
        flex-direction: column;
    }

}